* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}

.clr {
    clear: both;
}

.bg-primary {
    color: #333;
    background: white;
}

.bg-dark {
    color: #333;
    background: #f7c08a;
}

.cla {
    color: #f7c08a;
}

.text-primary {
    color: #f7c08a;
}

html,
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px, 0;
}

#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}

.logo {
    display: inline-block;
    padding: 30px;
    cursor: pointer;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar li {
    float: left;
    list-style: none;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
}

#navbar h1:hover {
    background: #444;
    color: #f7c08a;
}

#showcase {
    background: url("../IMG/showcase.jpg") no-repeat center center/cover;
    height: 90vh;
    width: 90wh;
}

#showcase .showcase-contents {
    color: white;
    text-align: center;
    padding: 170px 0px;
}

#showcase .showcase-contents h1 {
    color: #c6c6c6;
    font-size: 90px;
}

#showcase .showcase-contents p {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 18px;
    text-align: center;
}

#showcase .showcase-contents .text-primary {
    font-size: 93px;
}

#showcase .showcase-contents .btb {
    border: #333 0.5px solid;
    margin: 20px;
    padding: 10px;
    background: black;
    color: #f7c08a;
    border-radius: 5px;
}

.btb {
    border: #333 0.5px solid;
    margin: 20px;
    padding: 10px;
    background: black;
    color: #f7c08a;
    border-radius: 5px;
    cursor: pointer;
}

#history .history-image {
    background: url("../IMG/photo-1.jpg") no-repeat center center/cover;
    height: 500px;
    width: 50%;
    float: left;
    overflow: auto;
}

#history .history-info {
    color: white;
    padding-top: 170px;
    text-align: center;
    background: #333;
    height: 500px;
    width: 50%;
    float: right;
    overflow: hidden;
}

#history h1 .text-primary {
    font-size: 45px;
}

#history .something-padding {
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#history .btb-light {
    border: #333 0.5px solid;
    margin: 20px;
    padding: 10px;
    background: black;
    color: #f7c08a;
    border-radius: 5px;
}

.box {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 50px;
}

#about-info {
    background: e9e8e8;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

#about-info .info-left {
    float: left;
    padding-left: 20px;
    width: 50%;
    min-height: 100%;
    font-size: 1.2em;
}

#about-info .container-1 {
    height: 300px;
    width: 100%;
    /* margin-left: 30px; */
}

#main-footer {
    background: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#reviews {
    background: url("../IMG/test-bg.jpg") center center/cover;
    margin-top: 30px;
    height: 600px;
}

#reviews .temp {
    padding: 50px 0px;
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-weight: bolder;
}

#reviews .review-1 {
    margin-left: 80px;
    height: 130px;
    width: 80%;
    background-size: 200px;
    background-color: #f7c08a;
}

#reviews .review-1 img {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

#reviews .review-1 p {
    padding-top: 50px;
}

#input-submittion .for-group {
    /* margin-left: 20px; */
    margin-bottom: 30px;
}

#input-submittion label {
    display: block;
    margin-bottom: 20px;
}

#input-submittion input,
#input-submittion textarea {
    width: 100%;
    padding: 10px;
    border: 2px #333 solid;
}

#input-submittion textarea {
    height: 200px;
}

#input-submittion .something-23 {
    width: 15%;
}