/* FONTS */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

html {
    font-size: 10px;
    /* width: 100vw; */
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, a, ul, li{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
.page_padding {
    padding: 0 5%;
}

body {
    width: 100vw;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
}
section {
    width: 100%;
}

#header {
    padding-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

#header .heading {
    padding-top: 5.5px;
    float: left;
    margin-right: 100px;
}

#header .nav_bar {
    float: left;
    margin-left: 95px;
    font-size: 1.8rem;
}

#header li {
    display: inline;
    color: black;
}

#header .dropdown_content {
    padding: 10px;
    margin-top: 10px;
}

#header .hover_headings {
    padding-left: 25px;
    font-family: "Montserrat", sans-serif;
    color: black;
    padding-bottom: 25px;
    font-weight: 600;
}

#header .hover_headings:hover {
    padding-left: 25px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #4bdb7b;
}

.hover_links {
    color: black;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hover_links:hover {
    color: #35ad5d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 310px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 6px 16px;
    z-index: 1;
    border-top: 4px solid #ff7e67;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dropdown:hover .dropdown_content {
    display: block;
    width: 120px;
}

#header .nav_bar {
    padding-top: 5px;
}

#heading .green_button {
    cursor: pointer;
    color: white;
}

#header .heading {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
}

#header .green_button {
    cursor: pointer;
    background: #4bdb7b;
    margin-left: 150px;
    border: none;
    color: white;
    height: 30px;
    width: 120px;
    font-weight: bolder;
}

#center_body {
    width: 100%;
    height: 300px;
    /* border: 2px solid orange; */
}

.image_over_content{
    position: relative;
}
#center_body .main_heading {
    width: 50%;
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 35px;
    color: white;
    position: absolute;
    top: 0;
    z-index: 1;
    position: absolute;
}

#center_body .transparent_button {
    /* margin-left: 60px;
    margin-right: 30px;
    height: 30px;
    background: none;
    width: 130px;
    border: whitesmoke solid 2px;
    color: white;
    position: absolute;
    top: 35%;
    display: inline-block;
    border-width: 1px; */
    cursor: pointer;
    border-radius: 5px;
    background: #4bdb7b;
    border: none;
    color: white;
    height: 30px;
    width: 120px;
    font-weight: bolder;
    position: absolute;
    top: 35%;
    left: 20%;
    display: inline-block;
}

/* #center_body .green_button {
    cursor: pointer;
    background: #4bdb7b;
    border: none;
    color: white;
    height: 30px;
    width: 180px;
    font-weight: bolder;
    position: absolute;
    top: 35%;
    left: 20%;
    display: inline-block;

    margin-right: 100px;
} */

/* .clr {
    clear: both;
    padding-top: 100px;
} */

.positioning {
    position: relative;
    overflow: hidden;
}

#center_body_tiles {
    display: flex;
    justify-content: space-evenly;
}

#center_body_tiles .total_title {
    height: 250px;
    width: 250px;
    background: white;
    position: relative;
    top: -30px;
    -moz-box-shadow: 0 0 15px black;
    -webkit-box-shadow: 0 0 15px black;
    box-shadow: 0 0 15px black;
}

#center_body_tiles .total_title .tile_image {
    height: 50%;
    background: url("../IMG/robina-weermeijer-igwG8aIaypo-unsplash.jpg")
        no-repeat center center/cover;
}

#center_body_tiles .total_title .tile_text {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#center_body_tiles .tile_content {
    padding: 0px 10px 0px 10px;
}

#center_body_tiles .total_title .tile_text .tile_content {
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: smaller;
    font-size: 1.3rem;
}

#center_body_tiles .total_title .tile_text .tile_heading {
    padding-top: 10px;
    font-size: 2rem;
    font-weight: bolder;
}

#center_body_tiles .total_title .tile_text a {
    color: green;
    font-size: 1.3rem;

}

#second_page {
    background: rgb(236, 236, 236);
    /* border-radius: 4px; */
}

.gallery_heading {
    font-size: 4rem;
    padding-top: 3.5%;
    text-align: center;
    /* margin: 30px; */
}

 .over_navbar {
    text-align: center;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}
 .over_navbar ul {
    display: flex;
    display: inline-block;
    justify-content: space-evenly;
    margin: 20px;
}

 .over_navbar li {
    display: inline-block;
    padding-right: 90px;
}

 .over_navbar li a {
    cursor: pointer;
    color: #000000;
    padding: 0px 15px 0px 15px;
    border: 2px solid #4bdb7b;
    border-radius: 20px;
    background: none;
}



.our_gallery{
    height: 550px;
    width: 100%;
    /* background: red; */
}

.our_gallery .one,
.our_gallery .two
{
    
    display: flex;
    justify-content: space-evenly;
}

.our_gallery .one_row{
    margin:30px 0px;
    height: 200px;
    width: 300px;
    background-size: cover;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.56)
}

 .two_footer {
    text-align: center;
    /* margin: 20px 50px 20px 50px; */
    padding: 3.5%;
    font-size: 1.5rem;
    background: #dcdcdc;
}

#third_page .people_served_tab {
    float: left;
    width: 35%;
    height: 350px;
    background: #4bdb7b;
    font-size: 2em;
    padding: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#third_page .people_served_tab .black_bold {
    font-size: 3em;
    color: black;
    font-family: "Raleway", sans-serif;
}

#third_page .people_served_tab .white_button {
    cursor: pointer;
    margin-top: 30px;
    margin-left: 20px;
    height: 40px;
    width: 300px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.image_container {
    /* border: 5px solid orange; */
    position: relative;
    left: -10%;
    width: 120%;
    height: 55vh;
    background: rgba(0, 0, 0, 0.554);
    z-index: -1;
    overflow-x: auto;
}

.the_image {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    z-index: -2;
    animation-name: fadeinthing;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}

/* @keyframes fadeinthing {
    0% {
        opacity: 0.5;
    }
    25% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.5;
    }
} */

/* SECTION - SERVED OVER */
section.served_over {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
}
.served_over-big {
    display: flex;
    flex: 3;
    justify-content: space-between;
    margin-bottom: 2%;
}
.served_over-big-left {
    background-color: #4bdb7b;
    flex: 4;
    font-size: 4.6em;
    color: #fdfdfd;
    padding: 0.5em;
    text-transform: uppercase;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.288);
    box-shadow: 5px 5px 6px rgba(97, 97, 97, 0.425);
}
.served_over-big-left .the_count {
    font-size: 2em;
    color: #232323;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}
.served_over-big-right {
    background-color: white;
    flex: 7;
    margin-left: 8em;
    display: flex;
    flex-direction: column;
    position: relative;
}
.served_over-big-right h3 {
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
}
.served_over-big-right p:first-of-type {
    font-size: 2em;
    font-style: italic;
    margin-bottom: 1em;
    letter-spacing: 0.15rem;
}
.served_over-big-right p:last-of-type {
    font-size: 1.6rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.served_over-big-right button {
    width: 30rem;
    padding: 1.5rem 2rem;
    border: none;
    background: none;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.56);
    position: absolute;
    bottom: 1rem;
}

.served_over-small {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    background: #dcdcdc;
    height: 500px;
    padding: 10px;
    /* border-top: 1px solid rgba(0, 0, 0, 0.158); */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.158); */
}
.served_over-small-icon_link {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.served_over-small-icon_link .card_image {
    padding: 2rem;
}
.served_over-small-icon_link img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    /* border: 2px solid red; */
}
.served_over-small-icon_link .card_title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

/* SECTION - N-1 */
.n-1 {
    padding-top: 1%;
    padding-bottom: 3%;
    /* background-color: #f5f5f5; */
}
.n-1-h h2 {
    font-size: 5em;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
.n-1-h p {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    /* background: #f5f5f5; */
}

.n-1-card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.n-1-card {
    border: 2px solid black;
    width: 300px;
    height: 200px;
    background-color: wheat;
    /* flex: 2 0 500px; */
    margin: 2em 0.5em;
}

/* SECTION - SUBSCRIPTION */
section.subscription {
    width: 100%;
}
.subscription-h {
    background-image: linear-gradient(
            rgba(231, 224, 224, 0.534),
            rgba(218, 218, 218, 0.767)
        ),
        url("../IMG/bg/sub_head_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.subscription-h h2 {
    font-size: 5em;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.subscription-p {
    padding-top: 3%;
    padding-bottom: 3%;
}
.subscription-p p {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

.subscription-form_container {
    padding-top: 3%;
    padding-bottom: 3%;
}
.subscription-form_container form {
    display: flex;
    justify-content: space-between;
}
.subscription-form_container form .inputs {
    display: flex;
    flex-direction: column;
}
.subscription-form_container form .inputs input {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid black;
    padding: 0 0 5px 5px;
    margin-bottom: 20px;
}
.subscription-form_container form .inputs input:first-of-type {
    width: 30rem;
}
.subscription-form_container form .inputs input:last-of-type {
    width: 60rem;
}
.subscription-form_container form .inputs input::placeholder {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
}

.subscription-form_container .submit_button {
    display: flex;
    align-items: center;
}
.subscription-form_container button {
    width: 40rem;
    padding: 1.5rem 2rem;
    border: none;
    background: none;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.56);
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #232323;
    padding: 2% 0;
}

footer .socials,
footer .nav_links {
    display: flex;
}

footer .socials {
    padding: 0 35%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}
footer .socials li {
    margin: 0 auto;
}

footer .nav_links {
    padding: 0 35%;
    display: flex;
    justify-content: center;
}
footer .nav_links li a {
    font-size: 2em;
    font-weight: normal;
    color: #4bdb7b;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
footer .nav_links li a:not(.nav_links-last) {
    margin-right: 70px;
}
footer .nav_links li a:not(.nav_links-last)::after {
    content: "|";
    margin-left: 15%;
}

.go_to_top_container {
    padding-left: 40px;
    height: 0;
}
.go_to_top_container a {
    color: #fdfdfd;
    font-size: 1.8em;
    position: relative;
    top: -1.2em;
}
