/* FONTS */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto Slab', serif; */
/* green color:#4bdb7b */

html {
    font-size: 10px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, a, ul, li{
    margin: 0;
    padding: 0;
    
}
body{
     /* background-color: #F8F9FA; */
     width: 100vw;
     height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
.page_padding {
    padding: 0 10%;
}
body {
    /* width: 100vw; */
    height: 600px;
    max-width: 100%;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Lato", sans-serif;
    /* background-color: orange; */
    color: #222121;
}
section {
    width: 100%;
}
input[type="button"],
button,
input {
    font-family: "Montserrat", sans-serif;
}
/* COMMON DECLARATIONS END */
/* CONTENT START */

/* HEADER */
header {
    padding: 1.5rem;
    position: relative;
    border-bottom: 1px solid black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
header .heading {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight:500;
}
header li {
    display: inline;
}
header .hover_headings {
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 4rem;
    letter-spacing: 0.2rem;
    letter-spacing: .3rem;
    color: #000000;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header .hover_headings:not(.first) {
    padding-left: 5rem;
}
header .hover_headings:hover {
    color: #a23786;
}
.hover_links {
    padding: 10px 10px;
    font-weight: 600;
    font-size: 1.4rem;
    display: block;
}
.hover_links:hover {
    background-color: #ff7e6793;
    font-size: 1.4rem;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_content {
    font-size: 1.5rem;
    margin-top: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: 4px solid #ff7e67;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.dropdown:hover .dropdown_content {
    display: block;
    width: 120px;
}
.dropdown_content ul li {
    display: block;
}
header .green_button {
    letter-spacing: 0.1rem;
    background: #b92d34;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
}
.has_served{
    display: flex;
    color: white;
    align-items: center;
    font-size: 4.6rem;
    font-weight: bolder;
    text-align: center;
    background-color: #b92d34;
    font-family: 'Cabin', sans-serif;
    height: 150px;
    justify-content: space-around;
}

.bolding{
    /* text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5); */
}

header .page_padding {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger_icon > * {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}
.burger_icon {
    display: none;
    cursor: pointer;
}

/* FIRST PAGE */
.first_section {
    position: relative;
}
.image_container {
    min-height: 60vh;
    background-image: linear-gradient(rgba(25, 25, 25, 0.2), rgba(10, 10, 10, 0.1));
    overflow: hidden;
    position: relative;
}
.image_container img {
    height: 1000px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -250px;
    z-index: -1;
    animation-name: fadeinthing;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}
.main_heading {
    width: 40%;
    font-weight: bolder;
    font-size: 4rem;
    color: whitesmoke;
    position: absolute;
    top: 80px;
    left: 20px;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
}
.first_section .green_button {
    background: #b92d34;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: 250px;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.top {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.gallery_heading {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    /* padding-bottom: 2rem; */
    text-align: center;
    color: #b92d34;
    margin-bottom: 30px;
}

.our_gallery {
    /* justify-content: space-around; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our_gallery .one_row {
    height:250px;
    width: 300px;
    /* margin: 2rem 0; */
    background-size: cover;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.56);
}
.bottom .two_footer {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    background: wheat;
    line-height: 3rem;
}

/* SECTION - SERVED OVER */
section.served_over {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}
.served_over-big {
    display: flex;
    flex: 3;
    justify-content: space-between;
    margin-bottom: 3%;
}
.served_over-big-left {
    background-color: #4bdb7b;
    flex: 4;
    min-height: 400px;
    font-size: 4.5rem;
    color: #fdfdfd;
    padding: 0.5em;
    text-transform: uppercase;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.288);
    box-shadow: 5px 5px 6px rgba(97, 97, 97, 0.425);
}
.served_over-big-left .the_count {
    font-size: 2em;
    color: #232323;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}
.served_over-big-right {
    background-color: white;
    flex: 7;
    margin-left: 8em;
    display: flex;
    flex-direction: column;
}
.served_over-big-right h3 {
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
}
.served_over-big-right p:first-of-type {
    font-size: 2em;
    font-style: italic;
    margin-bottom: 1em;
    letter-spacing: 0.15rem;
}
.served_over-big-right p:last-of-type {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1em;
}
.served_over-big-right button {
    width: 30rem;
    padding: 1rem 3rem;
    border: none;
    background: none;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.56);
}
.served_over-small {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    background: #dcdcdc;
}
.served_over-small-icon_link {
    text-align: center;
    padding: 2rem 0;
}
.served_over-small-icon_link .card_image {
    padding: 0 2rem 2rem 2rem;
}
.served_over-small-icon_link img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}
.served_over-small-icon_link .card_title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.n-1 {
    padding-bottom: 3%;
    background-color: #ececec;
}

.n-1-h h2 {
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5% 0 2% 0;
    text-align: center;
}
.n-1-h p {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    /* background: #f5f5f5; */
}
.n-1-card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.n-1-card {
    margin: 0  2rem 4rem 2rem;
    width: 250px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.384);
}

/* SECTION - SUBSCRIPTION */
section.subscription {
    width: 100%;
}
.subscription-h {
    color: white;
    background-color: #b92d34;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.507), rgba(63, 62, 62, 0.253)), url("../IMG/bg/sub_head_bg.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
}
.subscription-h h2 {
    font-size: 5em;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
.subscription-p {
    padding-top: 3%;
    padding-bottom: 3%;
}
.subscription-p p {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}
.subscription-form_container {
    padding-top: 3%;
    padding-bottom: 3%;
}
.subscription-form_container form {
    display: flex;
    justify-content: center;
}
.subscription-form_container form .inputs {
    display: flex;
    flex-direction: column;
}
.subscription-form_container form .inputs input {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid black;
    padding: 0 0 5px 5px;
    margin-bottom: 20px;
}
.subscription-form_container form .inputs input::placeholder {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
}
.subscription-form_container .submit_button {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}
.subscription-form_container button {
    /* width: 40rem; */
    padding: 1.5rem 2rem;
    border: none;
    background: none;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.56);
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #232323;
    padding: 3rem 0;
}
footer .socials,
footer .nav_links {
    display: flex;
}
footer .socials {
    padding: 0 35%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}
footer .socials li {
    margin: 0 auto;
}
footer .nav_links {
    padding: 0 35%;
    display: flex;
    justify-content: center;
}
footer .nav_links li a {
    font-size: 2em;
    font-weight: normal;
    color: #4bdb7b;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
footer .nav_links li a:not(.nav_links-last) {
    margin-right: 70px;
}
.go_to_top_container {
    padding-left: 40px;
    height: 0;
}
.go_to_top_container a {
    color: #fdfdfd;
    font-size: 1.8em;
    position: relative;
    top: -1.2em;
}

@media (min-width: 900px) and (max-width: 1024px) {
    .about_images{
        height: 150px !important;
        width: 150px !important;    
    }

    .container_box_styling{
        top:-150px;
    }

    .about_us_img2{
        left: 130px !important;
    }

    .page_padding {
        padding: 0 3%;
    }

    header .heading {
        font-size: 2.2rem;
    }

    header .hover_headings {
        font-size: 2.4rem !important;
    }
    header .hover_headings:not(.first) {
        padding-left: 20px;
    }
    .dropdown:hover .dropdown_content {
        display: none;
    }

    .left_nav_header_container h2 {
        font-size: 1.2rem !important;
    }
    .page_heading {
        font-size: 3.5rem !important;
    }
    .image_container {
        min-height: 30vh;
    }
    .image_container img {
        top: -60px;
    }
    .first_section .green_button {
        top: 220px;
        left: calc(5% - 2rem);
    }

    .subscription-p {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .subscription-form_container {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    footer .socials {
        margin-bottom: 2%;
    }

    footer .socials li img {
        height: 25px;
    }

    .our_gallery {
        padding-bottom: 2rem;
    }

    .our_gallery .one_row {
        width: 300px;
        margin: 2rem 2rem;
    }

    .gallery_heading {
        padding-top: 2rem;
    }
    .served_over-big-right p:last-of-type {
        margin-bottom: 3rem;
    }

    .go_to_top_container {
        padding-left: 20px;
    }

    footer .nav_links li a:not(.nav_links-last) {
        margin-right: 30px;
    }

    .has_served{
        font-size: 3.7rem;
        background-color: #b92d34;
        height: 100px;   
    }

    .n-1-card{
        width: 230px;
        height: 230px;
    }

    .n-1-h h2{
        font-size: 3rem !important ;
    }

    .subscription-h h2 {
        font-size: 4em;
    }

    .gallery_heading{
        font-size: 3.5rem;
    }
}

@media (min-width: 700px) and (max-width: 899px) {

    .subscription-h h2 {
        font-size: 3.5rem;
    }

    .n-1-card{
        width: 200px;
        height: 200px;
    }

    header .green_button {
        padding: 1rem 2rem;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }

    .about_us_p{
        height: 300px;
        width: 300px !important;
        margin: 20px;
    }

    .about_us_p h2{
        font-size: 2rem;
    }

    .about_us_p p{
        font-size: 1.5rem;
    }

    .has_served{
            font-size: 3rem;
            background-color: #b92d34;
            height: 100px;
        
    }

    .page_padding {
        padding: 0 2%;
    }

    header .heading {
        font-size: 2rem;
    }
    .left_nav_header_container h2 {
        font-size: 1.2rem !important;
    }
    .page_heading {
        font-size: 3.5rem !important;
    }
    header .hover_headings {
        font-size: 1.2rem;
    }
    header .hover_headings:not(.first) {
        padding-left: 20px;
    }
    .dropdown:hover .dropdown_content {
        display: none;
    }
    .image_container {
        min-height: 30vh;
    }
    .image_container img {
        top: -60px;
    }
    .main_heading {
        width: 40%;
        font-size: 2.5rem;
        top: 50px;
        left: 50px;
    }
    .first_section .green_button {
        font-size: 1.4rem;
        padding: 0.8rem 2rem;
        top: 160px;
        left: calc(2% + 3rem);
        display: flex;
    }

    .served_over-big-left {
        min-height: auto;
        font-size: 3rem;
        color: #fdfdfd;
        padding: 0.5em;
        text-transform: uppercase;
        text-shadow: 0 4px 6px rgba(0, 0, 0, 0.288);
        box-shadow: 0px 5px 6px rgba(97, 97, 97, 0.425);
    }
    .served_over-big-left .the_count {
        font-size: 9rem;
        color: #232323;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
    }

    .subscription-p {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .subscription-form_container {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    footer .socials {
        margin-bottom: 2%;
    }

    footer .socials li img {
        height: 20px;
    }
    footer .nav_links li a {
        font-size: 1.8rem;
    }
    .go_to_top_container a {
        font-size: 1.4rem;
        top: -1.8rem;
    }

    .our_gallery {
        padding-bottom: 2rem;
    }

    .our_gallery .one_row {
        /* height: 300px; */
        width: 300px;
        margin: 2rem 2rem;
    }

    .gallery_heading {
        padding-top: 2rem;
    }
    .served_over-big-right p:last-of-type {
        margin-bottom: 3rem;
    }

    .go_to_top_container {
        padding-left: 20px;
    }

    footer .nav_links li a:not(.nav_links-last) {
        margin-right: 30px;
    }

    .n-1-h h2{
        font-size: 3rem !important ;
    }

    .gallery_heading{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 699px) {
    .page_padding {
        padding: 0;
    }
    header nav,
    header .green_button_container {
        display: none;
    }
    header .page_padding {
        /* flex-direction: column; */
        justify-content: space-between;
    }
    .burger_icon > * {
        width: 35px;
        height: 5px;
        background-color: #b92d34;
        margin: 6px 0;
    }
    .burger_icon {
        display: block;
        /* float: right; */
        cursor: pointer;
    }
    header .hover_headings {
        padding: 0px !important;
    }
    header .page_padding {
        position: relative;
    }
    .navBarContainer {
        position: absolute;
        top: 100%;
        background-color: white;
        z-index: 1;
        padding-top: 1rem;
    }

    .nav_bar {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }
    .nav_bar .dropdown {
        margin-bottom: 2rem;
        text-align: center;
    }
    header {
        padding: 0;
    }
    .logo {
        padding: 1rem 0 1rem 1rem;
    }
    .burger_icon {
        padding: 1rem 1rem 1rem 0;
    }
    .top {
        padding: 0rem 3rem;
    }
    .image_container {
        min-height: 20vh;
    }
    .image_container img {
        top: -40px;
    }
    .dropdown:hover .dropdown_content {
        display: none;
    }

    .left_navbar_container {
        display: none;
    }

    .main_heading {
        width: 50%;
        font-size: 1.5rem;
        top: 15px;
        left: 20px;
    }
    .first_section .green_button {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        top: 80px;
        left: 2rem;
    }

    /* .gallery_heading {
        padding: 2rem 0 0 0;
        font-size: 2.2rem;
    } */
    .our_gallery {
        padding-bottom: 1rem;
    }
    .our_gallery .one_row {
        width: 120px;
        margin: 1rem 0rem;
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.56);
    }
    .second_section .two_footer {
        padding: 2rem 3rem;
    }
    .served_over-big {
        flex-direction: column;
        flex: 1;
    }

    .served_over-big-left {
        background-color: #b92d34;
        flex: 1;
        min-height: 0px;
        font-size: 2rem;
        padding: 0.8em;
        text-align: center;
        word-spacing: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0px 5px 6px rgba(97, 97, 97, 0.425);
    }
    .served_over-big-left .the_count {
        font-size: 6rem;
        color: #232323;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
        display: block;
    }
    .served_over-big-right {
        /* background-color: white; */
        flex: 1;
        margin-left: 0;
        padding: 2rem;
        align-items: center;
        /* display: flex; */
        /* flex-direction: column; */

        /* position: relative; */
    }

    .served_over-big-right h3 {
        font-size: 2.2rem;
        text-align: center;
    }
    .served_over-big-right p:first-of-type {
        font-size: 1.5rem;
        text-align: center;
    }
    .served_over-big-right p:last-of-type {
        font-size: 1.4rem;
        line-height: 2.5rem;
        letter-spacing: 0.05rem;
        text-align: center;
    }
    .served_over-big-right button {
        width: 20rem;
        font-size: 1.3rem;
    }

    .served_over-small {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        background: #dcdcdc;
        flex-wrap: wrap;
    }
    .served_over-small-icon_link {
        text-align: center;
        padding: 2rem 0;
    }
    .served_over-small-icon_link .card_image {
        padding: 0;
    }
    .served_over-small-icon_link img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        cursor: pointer;
    }
    .served_over-small-icon_link .card_title {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }

    .n-1 {
        padding: 2rem 2rem;
    }
    .n-1-h h2 {
        font-size: 2.2rem;
        padding: 0 0 1rem 0;
    }
    .n-1-h p {
        font-size: 1.8rem;
        word-spacing: 0.8rem;
    }

    section.subscription {
        width: 100%;
        padding-bottom: 2rem;
    }
    .subscription-h h2 {
        font-size: 2.2rem;
        padding: 1rem;
        text-shadow: 0 3px 6px white;
    }
    .subscription-p {
        padding: 2rem;
    }
    .subscription-p p {
        font-size: 1.4em;
    }
    .subscription-form_container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .subscription-form_container form {
        display: flex;
        flex-direction: column;
    }
    .subscription-form_container .submit_button {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .submit_button button {
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }

    .subscription-form_container form .inputs input::placeholder {
        font-size: 1.4rem;
    }

    footer {
        padding: 2rem 0;
    }
    footer .socials,
    footer .nav_links {
        justify-content: center;
    }
    footer .socials {
        margin-bottom: 1.5rem;
        display: flex;
    }
    footer .socials li img {
        height: 22px;
    }
    footer .socials li:not(:first-child) {
        padding-left: 4rem;
    }
    footer .nav_links li a {
        font-size: 1.6rem;
        letter-spacing: 0em;
    }
    footer .nav_links li a:not(.nav_links-last) {
        margin-right: 2rem;
    }

    .go_to_top_container {
        padding: 1rem 0 0 0;
        text-align: center;
        height: auto;
    }
    .go_to_top_container a {
        font-size: 1.5rem;
        top: 0;
    }

    .positioning_division{
        flex-direction: column;
    }

    .container_box_styling{
        height: 130px !important;
        width: 120px !important;
        top: 0px !important;
        display: flex;
        flex-direction: row;
        width: 100% !important;
        /* background: red !important; */
        margin: 5px 0px !important;
        padding: 5px;
        /* height: 200px !important; */
    }

    .box_styling_1{
        height: 115px !important;
    }
    .box_styling_2{
        height: 115px !important;
    }
    .box_styling_3{
        height: 115px !important;
    }

    .image_box_styling{
        width: 50%;
        border: #000000;
        /* height: 50%; */
    }

    .contents_box_styling{
        text-align: center;
    }

    .about_us_p h2{
        font-size: 2.5rem;
    }
    .about_us_p p{
        font-size: 1.5rem;
    }

    .lololol{
        display: none;
    }

    .has_served{
        font-size: 3.5rem;
        height: 120px;
    }

    .n-1-card{
        width: 100%;
        margin: 0  0rem 2rem 0rem;
    }



}
/* RESPONSIVE END */

/* CONTENT PAGES' CSS: */
.bullets_required li {
    list-style-type: decimal;
    list-style-position: inside;
}
.bullets_required li:before {
    content: "";
    margin-left: 0.5rem;
}
.body_container {
    display: flex;
}
.left_navbar_container {
    padding: 1rem 1rem;
    flex: 3;
}
.left_navbar_container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.right_content_container {
    padding: 1rem;
    flex: 8;
}

.left_navbar_container div > h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2rem;
}
.left_nav_header_container {
    padding: 0 1rem;
    background-color: #1d4d66;
    border-radius: 6%;
}
.left_nav_header_container h2 {
    padding: 1rem 0;
    position: relative;
    color: whitesmoke;
}
.left_nav_header_container .arrow {
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.left_nav_header_container .arrow i {
    width: 100%;
}
.left_navbar_container div:not(.left_nav_header_container) {
    margin-bottom: 1rem;
}
.left_nav_topics_container {
    background-color: #ffffff;
}

.left_nav_topics_container ul li a {
    padding: 1rem;
    font-size: 1.4rem;
    display: block;
    line-height: 2rem;
}
.left_nav_topics_container ul li:hover {
    background-color: rgb(255, 255, 255);
}
.the_content:not(:last-child) {
    padding-bottom: 1rem;
}
.the_content .page_heading {
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 3rem 0;
    color: white;
    background-color: #b92d34;
    font-family: 'Roboto Slab', serif;
    background-clip: border-box;
}

.the_content .topic_heading {
    font-size: 3rem;
    font-weight: 500;
    color: white;
    background: #b92d34;
    height: 40px;
    margin: 3rem 0 2rem 0;
    display: inline-block;
    
}
.the_content p,
.the_content li {
    font-size: 1.6rem;
    word-spacing: 0.8rem;
    line-height: 2.5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}
.the_content p::before {
    content: "> ";
}
.the_content > div > *:last-child {
    border-bottom: 5px solid #6c6c6c;
    /* padding-bottom: 1rem; */
}

.contents_image {
    height: 300px;
    width: 400px;
}
#anatomy .contents_image {
    background: url("../IMG/Contents/2610_The_Kidney_revised.png") no-repeat center center/contain;
}
#kidney_working .contents_image {
    margin: 20px;
    background: url("../IMG/Contents/renal_system.gif") no-repeat center center/contain;
}
.topic_subtopic {
    font-size: 2rem !important;
    margin: 1rem;
}

.the_content div:nth-child(odd) {
    background-color: #f3efef;
}

/* CONTENT RESPONSIVE */
.aboutus{
    /* padding: 300px auto; */
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    /* background-color: orangered; */

}
.about_us_p{
    height: 300px;
    width: 600px;
    margin: 20px;
    /* flex:7; */
}
.lololol{
    /* flex:3; */
    position: relative;
}

.about_images{
    margin: 40px 0px 20px 40px;
    height: 200px;
    width: 200px;
    border-radius: 2%;
    /* display: none; */

}
.about_us_img1{
    background: red;
    /* left: 800px; */
    position: absolute;    
}
.about_us_img2{
    background: orange;
    position: absolute; 
    left: 150px;   
    top: 80px;
}
.spacing{
    margin: 40px 0;
}
.about_us_heading{
    /* margin-top: 20px; */
    text-transform: uppercase;
    font-size: 5rem;
}
.who_we_are_heading{
    text-transform: inherit;
    font-size: 2.5rem;
}
.about_us_contents{
    font-size: 1.7rem;
    text-align: left;
    margin: 30px 0 0 0;
}
.about_us_img1:hover{
    z-index: 1;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.);
    transition: all .2s ease-out;

}
.about_us_img2:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.);
    transition: all .2s ease-out;

}
.box_styling{
    display: block;
}

.positioning_division{
    display: flex;
    justify-content: center;
}

.container_box_styling{
    height: 230px;
    width: 220px;
    background: white;    
    margin: 20px 50px;
    position: relative;
    top: -150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border-radius: 200px; */
}

.image_box_styling{
    height: 60%;
    background: whitesmoke;
}

.contents_box_styling{
    height: 50%;
    background: white;
    text-align: center;
    
}

.contents_box_styling{
    padding: 0 5px;
}

.box_styling_heading{
    margin: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

.box_styling_contents{
    margin: 10px 0;
    text-align: center;
    font-size: 1.2rem;
}

.box_styling_link{
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
    color: #b92d34;
}

.box_styling_1{
    background: url('../IMG/robina-weermeijer-igwG8aIaypo-unsplash.jpg') no-repeat center center/cover;
}

.box_styling_2{
    background: url('../IMG/transplant.png') no-repeat center center/cover;
    /* opacity: .7; */
    background-color: #000000;
}

.box_styling_3{
    background: url('../IMG/sharon-pittaway-KUZnfk-2DSQ-unsplash.jpg') no-repeat center center/cover;
    /* opacity: .7; */
    /* justify-content: end; */
}

.aboutus{
    background: white;
}