/* prettier-ignore */

body, h1, h2, h3, h4, h5, h6, p, a, ul, li{
    margin:0;
    padding:0;
}
/* prettier-ignore */

a {
color: inherit;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; */
}
